@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
html{
    box-sizing:border-box;
    scroll-behavior:smooth;
}
body{
    background-color:rgb(16, 4, 5);
    font-family: "Space Grotesk", sans-serif;
    text-align: center;
    color: rgb(123, 199, 73);
    margin:o;
    padding:0;
}
a{
    color: rgb(184, 58, 58);
    text-decoration:none;
}

.header-content,
.main-content{
    max-width:600px;
    margin:0 auto;
    padding:0 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    align-content: center;
    gap: 3rem;
    flex-direction:column;
}
.header-content{
    justify-content:space-between;
    flex-direction:row;
}
nav a{
    margin-left: 20px;
    color: rgb(140, 191, 11)
}
nav a:hover{
    border-bottom: 2px solid whitesmoke;
}
#home{
    padding: 70px 0;
}

.profile-info{
    display: flex;
    align-items: center;
    gap: 0.3rcm;
}
.text-info{
    display: flex;
    justify-content: space-between;
}
.text-info h1{
    border-bottom: 2px solid rgb(81, 81, 24)
}
.user-bio a{
    border-bottom:1px solid green;
}
.quote-box{
    padding: 16px;
    background-color: rgb(203, 19, 19);
    border-radius: 3px;
}
/*project css*/
.project-grid{
    display:grid;
    grid-template-columns:repeat(1,1fr);
    gap:12px;
}
.project-link{
    border:1px solid rgb(207, 15, 15);
    border-radius:5px;
    padding: 20px;
}
.project h3,
.project p{
    text-align:left;
}
.project p{
   font-size:12px; 
}
.project-language{
    display:flex;
    gap:8px;
    font-weight:800;
    font-size:12px;
    color:red;   
}
.more-projects{
    margin-top:10px;
    font-weight:800;
    width:95%;
    color:red;
    border:1px solid blue;
    border-radius:5px;
    padding:16px;
}
/*media screen*/
@media screen and (min-width:1025px0){
    .project-grid{
        grid-template-columns:repeat(2,1fr);
    }
}
/*footer*/
footer{
    padding: 50px 0 20px;
}






